
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c192c;
    min-height: 100vh;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    background-color: #0c192c;
    margin: 0;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100000;
    border-bottom: 2px solid #00abf0;
}
.container1{
    display: flex;
    justify-content: space-between;
}
header .container1 nav{
    display: flex;
    flex-wrap: wrap;
} 
.fa-list{
    font-size: 24px;
    color: #fff;
    display: none;
}
header .container1 nav ul{
    display: flex;
}
header .container1 nav ul li{
    list-style: none;
    margin-right: 20px;
    margin: 20px;
    margin-bottom: 0;
}
.fa-gear{
    color: #00abf0;
    
    font-size: 30px;
    transform: translateY(-2px);
    
}
#setting-btn{
    cursor: pointer;
}
.fa-gear:hover{
    color: #0e6faf;
}
.settings{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #00abf0;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-6px);
    
}
header .container1 nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #0065fd;
    font-size: 20px;
}
header nav ul li a:hover,
.my-projects .header h1 span:hover{
    color: #00abf0;
    text-shadow: 2px 2px 30px #00abf9,2px 2px 30px #0edde4;
    cursor: pointer;
}
.contact{
    margin-right: 20px;
    font-weight: 700;
}
#main{
    margin-top: 10px;
    margin-left: 10em;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #0cb1a8, #00abf9);
    color: transparent;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main h1 a{
    color: transparent;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #0cb1a8, #00abf9);
    cursor: pointer;
    font-size: 1em;
}
/* main section */
.mainSection{
    background-color: #0c192c;
    height: 50em;
    padding: 200px 350px;
}
.mainSection h1{
    color: #fff;
    z-index: 999;
    font-size: 40px;
    margin-top: -150px;
}


.mainSection h1,.mainSection h2{
    transform: translateX(150px);
    font-weight: 700;
    position: relative;
    z-index: 10000;
}
.mainSection h2{
    color: transparent;
    -webkit-text-stroke: .7px #00abf0;
    font-size: 30px;
    margin: 10px 0;
}
.socialIcons{
    position: relative;
    z-index: 999;
}

.mainSection .socialIcons a {
    text-decoration: none;
    font-size: 2em;
    position: relative;
    margin-top: 15px;
}

.socialIcons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50px;
    height: 50px;
    border: .2rem solid #00abf0;
    border-radius: 50%;
    font-size: 30px;
    color: #00abf0;
    transition: .5s;
}
.socialIcons a:hover{
    background-color: #00abf0;
    border: .2rem solid #04243a;
    color: #04243a;
    box-shadow: 0 0 20px #00abf0;
}
.socialImages{
    height: 40px;
    width: 40px;
}
.mainImage{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 65%;
    bottom: 30%;
    z-index: 10000;
}
.socialImages,
.mainImage{
    border: 2px solid #0cb1a8;
    border-top-color: #00abf0;
    border-left-color: #00abf0;
    border-radius: 50%;
}
.containHire,.containmoreProjectsLink,.card{
    position: relative;
    z-index: 999;
}
.Hire,.moreProjectsLink{
    display: inline-block;
    border-radius: 8px;
    background-color: #00abf0;
    border: .2rem solid #00abf0;
    padding: 10px 40px;
    color: #04243a;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.8rem;
    position: absolute;
    left: 30%;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    top: 10px;
}
.containmoreProjectsLink{
    display: flex;
    justify-content: center;
}

.moreProjectsLink{
    position: static;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 3%;
}
.Hire:hover,.moreProjectsLink:hover{
    border: .2rem solid #00abf0;
    color: #00abf0;
    background-color: #0000;
}
.containHire .Hire::before,
.card button::before,
.card::before,
.containmoreProjectsLink .moreProjectsLink::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0c192c;
    z-index: -1;
    transition:all .5s ease-in-out;
}
.containmoreProjectsLink .moreProjectsLink::before{
    background-color: #0a3450;
}
.containHire .Hire:hover::before,
.card button:hover::before,
.card:hover::before,
.containmoreProjectsLink .moreProjectsLink:hover::before
{
    width: 100%;
}
/* my projects */
#projects{
    position: absolute;
    top: -100px;
}
.my-projects{
    position: relative;
}
.my-projects >.header{
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.my-projects >.header>h1,
.my-projects >.header>h1>span{
    text-align: center;
    font-weight: 700;
    color: #00abf0;
    text-transform: capitalize;
    font-size: 40px;
}
.my-projects >.header>h1>span{
    color: #0065fd;
}
.containCards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}
.card{
    width: 35%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #0a3450;
    box-shadow: 0px 0px 7px #00abf9;
    animation: motion infinite linear 3s 5s;
    margin-bottom: 20px;
}

@keyframes motion {
    25%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }  
}
.containCards .card h1,
.containCards .card h1 a{
    color: #0065fd;
    font-weight: 700;
    padding: 30px 5px 10px;
    font-size: 30px;
}
.containCards .card div{
    width: 100%;
    display: flex;
    justify-content: center;

}
.containCards .card div p{
    color: #09a8e7;
    max-width: 80%;

    font-size: 18px;
    margin: 20px 0 40px;
}
.containCards .card div .second-paragraph{
    max-width: 75%;
}
.containCards .card h1 a:hover{
    color: #00abf0;
    text-shadow: 2px 2px 20px #00cafd;
}
.containCards .card button a{
    font-weight: 700;
    font-size: 18px;
    color: #00cafd;
    
}
.card button{
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #0065fd;
    border-radius: 8px;
    border: none;
    outline: none;
    outline: 2px solid #0065fd;
    cursor: pointer;
}
.card button:hover{
    border-radius: 0;
}
a{
    text-decoration: none;
}

.about{
    background-color: #112e42;
    min-height: 50em;
}
section div .about-text{
    margin-bottom: 4rem;
    padding-top: 20px;
}
section div .about-text h1,
.contactSection div div h1{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    color: #ededed;
    letter-spacing: .5px;
    font-size: 30px;
}
section div div h1 span{
    color: #00abf0;
}
section div .contain-image{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
section div .contain-image img{
    width: 70%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}
section div .contain-image .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border-top: .2rem solid #112e42;
    border-bottom: .2rem solid #112e42;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}
.about-me{
    display: flex;
    margin: auto;
}
.about-me p{
    max-width: 60em;
    color: #00abf0;
    margin: auto;
    padding-left: 10px;
    word-spacing: 1px;
    font-size: 18px;
}
.about-me p a{
    color: #37f5e5;
}
.about-me p a:hover{
    text-decoration: underline;
}
.mywork h1{
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.read button{
    margin-bottom: 30px;
    color: #000;
    font-weight: 500;
    padding: 15px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(0, 172, 240);
    box-shadow: 0 0 20px rgba(0, 172, 240, 0.5);
    margin-top: 20px;
    position: relative;
    left: 45%;
    z-index: 2;
    transition: .5s;
    font-size: 20px;
}
.read button:hover{
    color: #00abf0;
}
.read button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: #0c192c;
    z-index: -2;
    transition: .5s;
}
.read button:hover::before{
    width: 100%;
}
.read p{
    display: none;
}

/* contact section */ 

.contactSection{
    background-color: #0a3450;
    padding-bottom: 50px;
}
.contactSection div > h1{
   
    padding-top: 40px;
}
.contactForm{
    background-color: #0a3450;
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
} 
.contactForm div h2,.contactForm div h3{
    color: #0065fd;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.contactForm form{
    width: 50%;
    height: 20%;
    background-color: #112e42;
    border-radius: 8px;
    border: 2px solid #194f74;
    margin-top: 50px;
}
.contactSection .inputs{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.contactSection .inputs div{
    margin-top: 60px;
    position: relative;
}
.contactSection .inputs div input,
.contactSection .inputs div textarea{
    width: 500px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    
}
.contactSection .inputs div textarea{
    max-width: 500px;
    min-width: 500px;
    min-height: 100px;
    max-height: 200px;
}
label{
    color: #0065fd;
    position: absolute;
    left: 5px;
    top: 0;
    transition: .5s;
    font-size: 20px;
}
.contactSection .inputs div input:focus~label,
.contactSection .inputs div textarea:focus~label{
    top: -15px;
    font-size: 14px;
}
.sendButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sendButton button{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #04243a;
    color: #0065fd;
    cursor: pointer;
    z-index: 1;
    position: relative;
    font-weight: 700;
}
.sendButton button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00cafd;
    z-index: -1;
    transition: .5s;
    border-radius: 8px;
}
.sendButton button:hover::before{
    width: 100%;
}
.sendButton button:hover{
    color: #04243a;
}



/* contact Logo */

.fa-comment-dots,.fa-whatsapp,.fa-facebook-messenger,.fa-telegram{
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 40px;
    color: #00abf0;
    cursor: pointer;
    transition: .5s;
    z-index: 9999;
}
.fa-whatsapp{
    bottom: 50px;
    left: 12px;
    font-size: 45px;
    border-radius: 20px;
    transition:  .5s;
}
.fa-facebook-messenger{
    bottom: 100px;
    left: 12px;
    color: #04243a;
    background-color: #00abf0;
    border-radius: 20px;
    transition:  .5s;
}
.fa-telegram{
    bottom: 150px;
    left: 12px;
    color: #04243a;
    background-color: #00abf0;
    border-radius: 20px;
    transition:  .5s;
}

.fa-comment-dots:hover{
    color:#0edde4;
}
.fa-whatsapp:hover,.fa-facebook-messenger:hover,.fa-telegram:hover{
    color: #00abf0;
    background-color: #04243a;
}


/* go back icon */ 
.fa-circle-arrow-up{
    font-size: 40px;
    color: #00abf0;
    cursor: pointer;
}
.fa-circle-arrow-up:hover{
    color: #0a3450;
    background-color: #00abf0;
    border-radius: 50%;
}
#containGoback{
    position: fixed;
    bottom: -5px;
    right: 10px;
    padding: 24px;
    z-index: 9999;
}
.containText{
    display: none;
    position: relative;
    z-index: 9999;
}

/* particles styling */
#particles-js{
    width: 100%;
    
    background-color: none;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
}
#preloader{
    background: #000 url('loader2.gif') no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    overflow: hidden;
}
